################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Subnautica.PowerGrid/obj/Debug
/Subnautica.PowerGrid/bin/Debug
/Subnautica.PowerGrid/.vs/Subnautica.PowerGrid/v15
/.vs
